@charset "utf-8";
/*@import "bulma.sass";
@import "bulmaCarousel.sass";
*/
.slick-prev {
  left: 5% !important;
  z-index: 1;
}

.slick-next {
  right: 5% !important;
  z-index: 1;
}

.slide-img {
  margin-bottom: 2vh;
}
