@import "~bulma/css/bulma.css";
@import "styles/carousel.scss";
@import "styles/navbar.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a.navbar-item.active {
  font-weight: bold;
}

.notification {
  position: fixed !important;
  bottom: 1vh !important;
  right: 1vh !important;
  z-index: 1;
}

.is-horizontal-center {
  display: flex !important;
  justify-content: center !important;
}

.product-image {
  width: 50vh !important;
  height: 50vh !important;
}

.is-circle {
  width: 8vh !important;
  height: 8vh !important;
  margin-right: 1vh !important;
  border-radius: 50% !important;
}

/* 
.container > form {
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 40px;
}

.container > form > label > div {
  margin-top: 25px;
  margin-bottom: 18px;
}
 */
.none-btn {
  border: 0px solid blue;
  background: none;
  outline: none;
}
