@charset "utf-8";
@import "~bulma/css/bulma.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.is-primary {
  background-color: #ffc020 !important;
}

.is-info{
  background-color: #ff8820 !important;
}

.is-success {
  background-color: #1acc6d !important;
}

.is-danger {
  background-color: #ff2027 !important;
}

.card-content {
  padding: 24px 13px !important;
}

a.navbar-item.active {
  font-weight: bold;
}

.logo {
  width: 130px;
  height: auto;
  margin-bottom: 0.5vh;
}

.notification {
  position: fixed !important;
  bottom: 1.5vh !important;
  right: 1.5vh !important;
  z-index: 41;
}

.is-horizontal-center {
  display: flex !important;
  justify-content: center !important;
}

.product-image {
  width: 50vh !important;
  height: 50vh !important;
}

.is-circle {
  width: 10vh !important;
  height: 10vh !important;
  margin-right: 1vh !important;
  border-radius: 50% !important;
}
/* 
.is-user {
  width: 25vh !important;
  height: 25vh !important;
  margin-right: 1vh !important;
  border-radius: 50% !important;
}
 */
@media only screen and (min-width: 768px) {
  .is-user {
    width: 25vh !important;
    height: 25vh !important;
    margin-right: 1vh !important;
    border-radius: 50% !important;
  }
}

.none-btn {
  border: 0px solid blue;
  background: none;
  outline: none !important;
}

.slick-prev {
  left: 5% !important;
  z-index: 1;
}

.slick-next {
  right: 5% !important;
  z-index: 1;
}

.slick-arrow {
  width: 5vh !important;
  height: 5vh !important;
}
.slide-img {
  width: 100%;
  height: auto;
  margin-bottom: 2vh;
}

.navbar {
  padding: 3vh 0;
}

.navbar-menu.is-active {
  margin-top: 3vh;
}

.navbar-item.field {
  margin-bottom: 0 !important;
}

.stat-val {
  font-size: 3em;
  padding-top: 20px;
  font-weight: bold;
}

.stat-key {
  font-size: 1.4em;
  font-weight: 200;
}

.section.profile-heading
  .column.is-2-tablet.has-text-centered
  + .has-text-centered {
  border-left: 1px dotted rgba(0, 0, 0, 0.2);
}

.container.profile {
  margin-top: 1%;
}

.control.is-pulled-left span.select {
  margin-right: 5px;
  border-radius: 2px;
}

/* .modal-card .content h1 {
  padding: 40px 10px 10px;
  border-bottom: 1px solid #dadada;
}
 */
.container.profile .profile-options .tabs ul li.link a {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f1f1f1;
}

@media only screen and (min-width: 1024px) {
  .navbar-menu.is-active {
    margin-top: 0;
  }
}
